<section>
<h2>Create New Post</h2>

<form class="new-post-form">
    <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
        <label for="post-text">Post</label>
        <input id="post-text" name="post-text" />
    </div>
    <button type="submit" class="btn">Create</button>
</form>
</section>

 <div class"post-list">
        <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">create post</button></a>
        
        <h2 class="title pb-4">dashboard: your posts</h2><hr>
{{#if posts.length}}
    </div>
<section>
<div>
<h2>Your Posts</h2>

    {{#each posts as |post|}}
  
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    
    {{/each}}

</div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>